/* style.css */

.major-container {
    background-image: url("images/img.bluewater.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 2%;    
} 

.navigation-bar {
    display: flex;
    justify-content: space-around;
}

.navigation-list ul {
    display: flex;
    margin-left: -25%;
}

.navigation-list ul li {
    list-style-type: none;
    width: 100px;
    color: white;
}

button {
    border-style: none;
    border-radius: 2cap;
    background-color: white;
    height: 25px;
}

.body-container {
    display: flex;
}

.content-container {
    height: 350px;
    width: 570px;
    margin-left: 13%;
    text-align: left; 
    margin-top: 5%;
    color: white;
}

.uppercase-content {
    width: 210px;
}

.first-lowercase {
    width: 550px;
    text-align: center;
    margin-left: -2%;
}

.box-container {
    width: 200px;
    height: 40px;
    border: 2px solid red;
    border-radius: 1cap;
    margin-top: 5%;
}

.the-content {
    margin-top: 4%;
    background-color: white;
    color: red;
    height: 25px;
    width: 150px;
    border-radius: 1%;
    margin-left: 12%;
    margin-top: 2%;
    border-style: dashed;
    text-align: center
}

.second-lowercase {
    width: 550px;
    margin-top: 5%;
    text-align: center;
    margin-left: -3%;
}

.picture-container {
    height: 150px;
    width: 300px;
    border-radius: 50cm;
    background-image: url("images/Peacock.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}